/* Config do react Flow */

.react-flow__attribution {
  display: none;
}

.react-flow__controls-interactive {
  display: none;
}

.dark .react-flow__handle {
  background-color: #151516 !important;
  border-color: #838282;
}

.react-flow__panel {
  pointer-events: none !important;
}

.react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #dadada;
  border: 1px solid #b1b1b1;
}

.force-icon-black path {
  fill: #0c0c0c;
}
