/* Config do react Flow */

.react-flow__attribution {
  display: none !important;
}

.react-flow__controls-interactive {
  display: none !important;
}

.dark .react-flow__handle {
  background-color: #151516 !important;
  border-color: #838282 !important;
}

.react-flow__panel {
  pointer-events: none !important;
}

.react-flow__handle {
  width: 10px !important;
  height: 10px !important;
  border-radius: 2px !important;
  background-color: #dadada !important;
  border: 1px solid #b1b1b1 !important;
}

.force-icon-black path {
  fill: #0c0c0c;
}

.dark .react-autocomplete-input {
  background-color: #000 !important;
}

/* 
.react-autocomplete-input::-webkit-scrollbar {
  width: 5px;
}
.react-autocomplete-input::-webkit-scrollbar-track {
  background-color: #797979;
} */

.dark .ReactTags__activeSuggestion {
  background: #1f1e20;
}

.ReactTags__activeSuggestion {
  background: #efeff1;
}

.react-tags-wrapper ul li {
  border-radius: 3px;
}
