/* Config do react Flow */
.react-flow__panel.right {
  display: none;
}

.react-flow__controls-interactive {
  display: none;
}

.react-flow__handle {
  width: 11px;
  height: 11px;
  border-radius: 3px;
  background-color: #dadada;
  border: none;
}

.force-icon-black path {
  fill: #0c0c0c;
}
