@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:where(.dark, .dark *));

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #d1d1d156;
}
.scroll-custom::-webkit-scrollbar {
  width: 1px;
  background-color: #6c7b9bd2;
}
.scroll-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1a202c;
}
.scroll-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1a202c;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.ps-submenu-expand-icon span {
  width: 8px;
  height: 8px;
}
