@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:where(.dark, .dark *));

.rhap_additional-controls {
  display: none !important;
}

.rhap_main-controls-button {
  height: initial !important;
  width: initial !important;
}

.rhap_volume-controls {
  display: none !important;
}

.rhap_controls-section {
  flex: initial !important;
  margin-left: 4px !important;
}

.rhap_total-time {
  margin-right: 10px !important;
  color: #ffffff !important;
}

.rhap_progress-bar {
  height: 0px !important;
  background: transparent !important;
  border-bottom: 3px dashed #5c5c5c !important;
}

.rhap_progress-indicator {
  width: 11px !important;
  height: 11px !important;
  top: -4px !important;
  background: #0dacd4 !important;
}

.rhap_container {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #d1d1d156;
}
.scroll-custom::-webkit-scrollbar {
  width: 1px;
  background-color: #6c7b9bd2;
}
.scroll-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1a202c;
}
.scroll-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1a202c;
}

.scroll-x-custom::-webkit-scrollbar-thumb {
  background-color: #75848856;
  border-radius: 8px;
}
.scroll-x-custom::-webkit-scrollbar {
  height: 5px;
  background-color: #4e5463d2;
}
.scroll-x-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #202122;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.ps-submenu-expand-icon span {
  width: 8px;
  height: 8px;
}

.container__virtuoso div {
  padding-right: 8px;
}

.container__virtuoso table {
  width: 100% !important;
}

.container__virtuoso thead {
  height: 50px;
  background: #f5f5f5;
}
.dark .container__virtuoso thead {
  background: #141314;
}

.container__virtuoso tbody tr:hover {
  background: #ffffff;
}

.container__virtuoso tbody tr:nth-child(even) {
  background: #e0e0e04d;
}

.container__virtuoso tbody tr:nth-child(odd) {
  background: #f5f5f569;
}

.dark .container__virtuoso tbody tr:hover {
  background: #9292920a !important;
}

.dark .container__virtuoso tbody tr:nth-child(even) {
  background: #6b6b6b0a;
}

.dark .container__virtuoso tbody tr:nth-child(odd) {
  background: #55555507;
}
